.content {
    /*上下左右边距为0*/
    margin: 0;
    /*宽度*/
    width: 781px;
    /*长度*/
    /*min-height: 1448px;*/
    height: 1105px;
    /*超出部分隐藏*/
    overflow: hidden;
    /*background-color: #f9f9f9;*/
    background-color: red;
    /*background-color: #fff;*/
    /*box-shadow: 0 0 5px #ccc;*/
    /*border-radius: 10px;*/
    /*元素左边距*/
    /*margin-left: auto;*/
    /*元素右边距*/
    /*margin-right: auto;*/
    /*font-size: 14px;*/
    /*position: relative;*/
}

.content .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #f9e9e9;
    /*padding: 40px 40px 0 40px;*/
}

.content .top .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.content .top .imgBx .box {
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.content .top .imgBx .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .top .profileText {
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.content .top .profileText h3 {
    /*font-size: 2em;*/
    font-size: 2em;
    /*letter-spacing: .1em;*/
    /*字间距离*/
    letter-spacing: .1em;
    line-height: 1.2em;
    /*font-weight: 600;*/
    /*加粗*/
    font-weight: 700;
    align-items: center;
    color: #333;
}

.content .top .profileText h3 span {
    position: relative;
    font-size: 1em;
    /*font-size: .5em;*/
    font-weight: 300;
    /*top: -10px;*/
    top: 10px;
    /*color: #666;*/
    align-items: center;
    color: #333;
}

.content .contentBox {
    position: relative;
    /*min-height: 500px;*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #e9f9e9;
    /*padding: 0 40px 40px;*/
    /*font-size: 1em;*/
}

.content .contentBox h3 {
    border-left: 4px solid #ff8bb3;
    /*padding-left: 10px;*/
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: .1em;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.content .contentBox ul {
    position: relative;
    margin: 1px 0;
    margin-left: 50px;
}

.content .contentBox ul li {
    list-style: none;
    margin: 10px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}

.content .contentBox ul li {
    /*font-size: 1.2em;*/
    font-size: 1em;
    /*margin-right: 10px;*/
    margin-left: 10px;
    color: #3590d2;
}

.content .contentBox ul.education li {
    flex-direction: column;
    margin: 25px 0;
}

.content .contentBox ul.interest {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content .contentBox ul.interest > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    /*background-color: red;*/
}

/*下部盒子的右边*/
.rightSide {
    padding-left: 40px;
    background-color: yellow;
}

.rightSide p.Text {
    text-indent: 2em;
    /*text-indent: 2em;*/
    /*background-color: blue;*/
}

.rightSide .about .box {
    display: flex;
    flex-direction: row;
    /*margin: 20px 0;*/
    margin: 0 0;
    display:flex;
}

.rightSide .about .box .year_company {
    min-width: 150px;
    margin-bottom: 10px;
}

.rightSide .about .box .year_company h5 {
    /*color: #333;*/
    color: red;
    font-weight: 600;
}

.rightSide .about .box .year_company h5:nth-child(1) {
    color: #3590d2;
}

.rightSide .about .box .text h4 {
    color: #3590d2;
    font-size: 16px;
    margin: 0;
}

.rightSide .about.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.rightSide .about.skills .box h4 {
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}


.rightSide .about.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e3e3e3;
}

.rightSide .about.skills .box .percent div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #3590d2;
}
